.navLink {
  color: #ffffff;
  text-decoration: underline;
  font-size: 18px;
}
.navLink:hover {
  color: #cb0086;
  cursor: pointer;
}

.navButton {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-size: 18px !important;
  padding: 10px !important;
  border-radius: 10px !important;
}
.navButton:hover {
  background-color: #cb0086 !important;
  color: #ffffff !important;
}
