/* navbar */

.navLinks-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 300;
}

.navLinks-div {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  text-align: center;
}

.navLinks-text a:hover {
  font-weight: 400;
  text-decoration: none;
}

/* end */
